<form class="flex flex-col mb-2" [formGroup]="registerForm">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email">
    <mat-error *ngIf="registerForm.get('email')?.hasError('email') && !registerForm.get('email')?.hasError('required')"> Please enter a valid email address </mat-error>
    <mat-error *ngIf="registerForm.get('email')?.hasError('required')"> Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name">
    <mat-error *ngIf="registerForm.get('name')?.hasError('required')"> Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input type="text" matInput formControlName="surname">
    <mat-error *ngIf="registerForm.get('surname')?.hasError('required')"> Surname is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
    <mat-icon (click)="viewPassword()" matSuffix>visibility_off</mat-icon>
    <mat-error *ngIf="registerForm.get('password')?.hasError('required')"> Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')"> Password must be at least <strong>6 characters</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repeat Password</mat-label>
    <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="repeatPassword">
    <mat-icon (click)="viewPassword()" matSuffix>visibility_off</mat-icon>
    <mat-error *ngIf="registerForm.get('repeatPassword')?.hasError('required')"> Repeat password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.get('repeatPassword')?.hasError('match')"> Password and Repeat password don't match</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="register()">Register</button>
</form>
